<header>
  <img class="logo" src="/images/index.jpeg" alt="">
  <div class="header-container">
    <div class="top-header">
      <div class="header-titles">
        <h1>Capital Sushi</h1>
        <h3>Sushi bar</h3>
      </div>
      <div class="user-menu">
        <% if (locals.user) { %>
          <span class="username">
            <%= user.name %>
          </span>
          <a class="header-user" href="#"><img class="profile-pic"
              src=<%=`/images/${user.profile_pic}`%> alt=""></a>
          <% } else {%>
            <a class="header-user" href="#" > <i class="fas fa-user"></i></a>
            <% } %>
      </div>
      <a class="header-user" href="#" id="hamburger" onclick="HamburgerScript()"> <i class="fas fa-bars"></i> </a>
    </div>
    <nav>
      <ul>
        <% if (!locals.user || locals.user.role_id==2) {%>
          <li><a class=<%=view=='home' && 'active' %> href="/">Inicio</a></li>
          <li><a class=<%=view=='menu' && 'active' %> href="/menu">Menu</a></li>
          <li><a class=<%=view=='carrito' && 'active' %> href="/cart">Carrito</a></li>
          <li><a class=<%=(view=='mi_cuenta' || view=='profile' ) && 'active' %> href="/user/login">Mi cuenta</a></li>
          <li><a class=<%=view=='contacto' && 'active' %> href="/contact">Contacto</a></li>
          <% } %>
          <% if (locals.user && user.role_id==1) {%>
              <li><a class=<%=view=='productForm' && 'active' %> href="/product/new">Crear Producto</a></li>
              <li><a class=<%=view=='#' && 'active' %> href="/product/">Productos</a></li>
              <li><a class=<%=view=='#' && 'active' %> href="/user/">Usuarios</a></li>
              <li><a class=<%=(view=='mi_cuenta' || view=='profile' ) && 'active' %> href="/user/login">Mi cuenta</a></li>
          
          <% } %>
          <% if (locals.user) { %>
            <li><a href="/user/logout">Salir</a></li>
          <% } %>
      </ul>
    </nav>
  </div>
</header>