<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'allProducts.css' , title: 'Productos' }) %>

  <body>
    <%- include('./partials/header', {view: 'allProducts' }) %>
      <main>
        <div class="main-container">
          <div class="top-container">
            <h2 class="main-title">Productos</h2>
            <a href="/product/new">Crear Producto</a>
          </div>
          <table class="main-table">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <%if (locals.products) for(let product of products) {%>
                <tr class="content-rows">
                  <td>
                    <%= product.title %>
                  </td>
                  <td>
                    <%= product.category.cat_name %>
                  </td>
                  <td>
                    <%= product.prod_description %>
                  </td>
                  <td>
                    <%= product.picture %>
                  </td>
                  <td>
                    <%= product.price %>
                  </td>
                  <td class="table-btns">
                    <form action="/product/<%= product.id %>?_method=DELETE" method="POST">
                      <button><i class="fas fa-trash-alt"></i></button>
                    </form>
                    <a href="/product/<%= product.id %>/edit"><i class="far fa-edit"></i></a>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>