<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'allProducts.css' , title: 'Productos' }) %>

  <body>
    <%- include('./partials/header', {view: 'allProducts' }) %>
      <main class="main-container">
        <h2 class="main-title">Productos</h2>
        <table class="main-table">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Categoria</th>
              <th>Descripcion</th>
              <th>Imagen</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <%if (locals.products) for(let product of products) {%>
              <tr>
                <td>
                  <%= product.title %>
                </td>
                <td>
                  <%= product.category.cat_name %>
                </td>
                <td>
                  <%= product.prod_description %>
                </td>
                <td>
                  <%= product.picture %>
                </td>
                <td>
                  <%= product.price %>
                </td>
                <td>
                  <span><i class="fas fa-trash-alt"></i></span>
                  <span><i class="far fa-edit"></i></span>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>