<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {stylesheet: 'cartilla.css' , title: 'Cartilla' }) %>

    <body>
        <%- include('./partials/header', {view: 'cartilla' }) %>
            <main>
                <div class="div-main">
                    <% categories.forEach(category => { %> 
                    <div class="container">
                        <div class="h2-container">
                            <h2 id="entradas"><%= category.cat_name %> </h2>
                        </div>
                        <% products.filter(product => product.category.cat_name == category.cat_name).forEach(product => { %> 
                            <article>
                                <div class="image-container">
                                    <img class="pr-img" src="/images/<%= product.picture %>" alt="<%= product.title %>">
                                </div>
                                <div class="description">
                                    <h3><%= product.title %> </h3>
                                    <p><%= product.prod_description %> </p>
                                    <p class="price">$<%= product.price %> </p>
                                </div>
                            </article>
                        <% }) %> 
                    </div>
                    <% }) %> 
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>