<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {stylesheet: 'cartilla.css' , title: 'Cartilla' }) %>

    <body onload="updateQty()">
        <%- include('./partials/header', {view: 'cartilla' }) %>
            <main>
                <div class="div-main">
                    <% categories.forEach(category => { %> 
                    <div class="container">
                        <div class="h2-container">
                            <h2 id="<%= category.cat_name.toLowerCase() %>"><%= category.cat_name %> </h2>
                        </div>
                        <% products.filter(product => product.category.cat_name == category.cat_name).forEach(product => { %>  
                            <article>
                                <div class="image-container">
                                    <img class="pr-img" src="/images/<%= product.picture %>" alt="<%= product.title %>">
                                    </div>
                                    <div class="prod-info">
                                    <div class="description">
                                        <h3 class="product-title"><%= product.title %> </h3>
                                        <p><%= product.prod_description %> </p>
                                    </div>
                                    <div class="cart-price">
                                        <div class="qty-selector">
                                            <span><i onclick="removeItem('<%= product.id %>')" class="fas fa-minus-circle"></i></span>
                                            <span class="qty" id="<%=product.id%>">0</span>
                                            <span><i onclick="addItem('<%= product.id %>')" class="fas fa-plus-circle"></i></span>
                                        </div>
                                        <p class="price">$<%= product.price %> </p>
                                    </div>
                                </div>
                            </article>
                        <% }) %> 
                    </div>
                    <% }) %> 
                    <div class="add-item">
                        <a class="cart-add-btn" href="/cart"><i class="fas fa-solid fa-cart-plus"></i></a>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer') %>
            <script src="/js/cartFunctions.js"></script>
    </body>

</html>