<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'productForm.css' ,title: 'Editar informacion' }) %>

    <body>
        <%- include('./partials/header', {view: 'editarProducto' }) %>
            <main>
                <div class="form-container">
                    <form action="?_method=PUT" method="POST" enctype="multipart/form-data" class="form-user">
                        <h2>EDITAR PRODUCTO: <%= oldData.title %>
                        </h2>
                        <%- include('./partials/productFormContent') %>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>