<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'profile.css' , title: 'Perfil' }) %>

  <body>
    <%- include('./partials/header', {view: 'perfil' }) %>
      <main>
        <div class="main-container">
          <div class="user-profile">
            <div class="user-header">
              <img class="user-img" src=<%=`/images/${locals.user.profile_pic}`%> alt="user img">
              <h2><%= `${locals.user.name} ${locals.user.last_name}` %> </h2>
            </div>
            <div class="user-info">
              <i class="fas fa-user"></i>
              <p><%= `${locals.user.name} ${locals.user.last_name}`%> </p>
            </div>
            <div class="user-info">
              <i class="fas fa-envelope"></i>
              <p><%= locals.user.email || 'null' %> </p>
            </div>
            <div class="user-info">
              <i class="fas fa-map-marked-alt"></i>
              <p><%= locals.user.address || 'null' %> </p>
            </div>
            <div class="user-info">
              <i class="fas fa-mobile"></i>
              <p><%= locals.user.phone || 'null' %> </p>
            </div>
            <a onclick="showPasswordForm()" href="#" class="edit-btn">
              Cambiar contrase単a
            </a>
            <a href="/user/editUser" class="edit-btn">
              Editar perfil
            </a>
          </div>
        </div>
        <div class="password-change">
          <form action=<%=`${user.id}/password`%> method="post">
            <label for="oldPassword">Contrase単a actual: </label>
            <input type="password" name="oldPassword" id="oldPassword">
            <label for="password">Nueva contrase単a: </label>
            <input type="password" name="password" id="password">
            <label for="passwordConfirmation">Confirmar contrase単a: </label>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation">
            <div class="buttons">
              <button onclick="hidePasswordForm()">Atras</button>
              <button type="submit">Cambiar</button>
            </div>
          </form>
        </div>
      </main>
      <%- include('./partials/footer') %>
      <script src="/js/changePassword.js"></script>
  </body>

</html>