<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {stylesheet: 'profile.css' , title: 'Perfil' }) %>

  <body>
    <%- include('./partials/header', {view: 'perfil' }) %>
      <main>
        <div class="main-container">
          <div class="user-profile">
            <div class="user-header">
              <img class="user-img" src=<%=`/images/${locals.user.profile_pic}`%> alt="user img">
              <h2><%= `${locals.user.name} ${locals.user.last_name}` %> </h2>
            </div>
            <div class="user-info">
              <i class="fas fa-user"></i>
              <p><%= `${locals.user.name} ${locals.user.last_name}`%> </p>
            </div>
            <div class="user-info">
              <i class="fas fa-envelope"></i>
              <p><%= locals.user.email || 'null' %> </p>
            </div>
            <div class="user-info">
              <i class="fas fa-map-marked-alt"></i>
              <p><%= locals.user.address || 'null' %> </p>
            </div>
            <div class="user-info">
              <i class="fas fa-mobile"></i>
              <p><%= locals.user.phone || 'null' %> </p>
            </div>
            <a href="/user/editUser" class="edit-btn">
              Editar perfil
            </a>
          </div>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>

</html>