<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head', {stylesheet: 'mi_cuenta.css', title: 'Registrarse'}) %> 

<body>
  <%- include('./partials/header', {view: 'registrarse'}) %> 
  <main>
    <div class="img-container">
      <img class="main-img" src="/images/main-header.jpg" alt="">
    </div>
    <div class="forms-container">
      <div class="forms-carousel">
        <form class="sign-up-form" action="/usuario/registrarse" method='post' enctype="multipart/form-data">
          <h3>Registrarse</h3>
          <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="Nombre" value= "<%= locals.oldData ? locals.oldData.name : "" %>"  required>
          </div>
          <div class="input-container">
            <i class="fas fa-user"></i>
            <label for="last-name"></label>
            <input type="text" name="lastName" id="last-name" placeholder="Apellido" value= "<%= locals.oldData ? locals.oldData.lastName : "" %>" required>
          </div>
          <div class="input-container">
            <i class="fas fa-envelope"></i>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" value= "<%= locals.oldData ? locals.oldData.email : "" %>" required>
          </div>
          <div class="input-container">
            <i class="fas fa-map-marked-alt"></i>
            <label for="address"></label>
            <input type="text" name="address" id="address" placeholder="Direccion" value= "<%= locals.oldData ? locals.oldData.address : "" %>" required>
          </div>
          <div class="input-container">
            <i class="fas fa-mobile"></i>
            <label for="phone"></label>
            <input type="text" name="phone" id="phone" placeholder="Telefono" value= "<%= locals.oldData ? locals.oldData.phone : "" %>" required>
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="contraseña" required>
          </div>
          <div class="input-container">
            <i class="fas fa-lock"></i>
            <label for="passwordConfirmation"></label>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="repetir contraseña" required>
          </div>
          <div class="input-group">
            <input type="file" class="form-control form-image" id="image" name="image">
            <label class="input-group-text image-upload" for="image">Cargar Imagen</label>
        </div>
        <% if(locals.errors && errors.image){ %>
            <p class="form-validation-error"><%= errors.image.msg %></p>
        <% } %>
          <div class="btns">
            <a class="sign-up-btn" href="/usuario/ingresar">Tengo cuenta</a>
            <input class="submit-btn" type="submit" value="Registrarse">
          </div>
        </form>
      </div>
    </div>
  </main>
  <%- include('./partials/footer') %> 
</body>

</html>